h1, h2, h3, h4 {
  font-family: $headings-font-family;
}

body {
  font-size: 14px;
}

.App {
  .orderBuilderContainer {
    margin-top: 30px;
    .tokenLiquidityBlock {
      height: 100%;
      background-color: $gray-200;
      padding: 15px 25px;
      border-radius: 10px;
      font-size: 16px;
      h3 {
        text-align: center;
        margin-bottom: 20px;
      }
    }
  }
  .orderTableContainer {
    margin-top: 30px;
  }
}
